<div id="dialog" class="rel-editor-dialog" data-bind="with: activeDialog, delegatedHandler: ['click', 'keydown', 'change']">
  <div data-bind="template: dialogTemplate" data-click="clickEvent" data-keydown="keydownEvent" data-change="changeEvent"></div>

  <div class="buttons ui-helper-clearfix" style="margin-top: 1em">
    <button type="button" class="negative" data-bind="click: function () { $data.close(true) }">[% l('Cancel') %]</button>
    <div class="buttons-right" style="float: right; text-align: right;">
      <button type="button" class="positive" data-bind="disable: hasErrors() || loading(), click: function () { $data.accept() }">[% l('Done') %]</button>
    </div>
  </div>
</div>

<script type="text/html" id="template.relationship-dialog">
  <!-- ko if: relationship().editsPending -->
    <p class="msg warning">
      [% l('Warning: This relationship has pending edits.
            {show|Click here} to view these edits and make sure they do not conflict with your own.',
           { show => { 'data-bind' => 'attr: { href: relationship().openEdits() }', target => '_blank' } }) %]
    </p>
  <!-- /ko -->
  <table>
    <tbody>
      <!-- ko template: { name: "template.dialog-source-entity", "if": source.gid && !/^tmp-/.test(source.gid) } --><!-- /ko -->
      <!-- ko template: "template.dialog-link-type" --><!-- /ko -->
      <!-- ko template: "template.dialog-target-entity" --><!-- /ko -->
      <!-- ko template: "template.dialog-attributes" --><!-- /ko -->
    </tbody>
  </table>
</script>

<script type="text/html" id="template.dialog-source-entity">
  <tr>
    <td class="section" data-bind="text: MB.i18n.addColon(MB.i18n.strings.entityName[source.entityType])"></td>
    <td>
      <span data-bind="html: source.html({ 'target': '_blank' })"></span>
    </td>
  </tr>
</script>

<script type="text/html" id="template.dialog-target-entity">
  <tr>
    <td class="section">
      <select data-bind="disable: disableTypeSelection, value: targetType, options: targetTypeOptions(), optionsValue: 'value', optionsText: 'text'"></select>
    </td>
    <td>
      <span class="autocomplete">
        <img class="search" src="../../../static/images/icons/search.png" alt="[% l('Search') %]"/>
        <input class="name" type="text" data-bind="relationshipEditorAutocomplete: $data" />
      </span>
      <div class="error" data-bind="text: targetEntityError()"></div>
    </td>
  </tr>
</script>

<script type="text/html" id="template.dialog-link-type">
  <tr>
    <td class="section">[% l('Type') %]:</td>
    <td>
      <select class="link-type"
        data-bind="options: linkTypeOptions(relationship().entityTypes),
                   optionsValue: 'value',
                   optionsText: 'text',
                   optionsCaption: '',
                   optionsAfterRender: MB.forms.setDisabledOption,
                   value: relationship().linkTypeID"></select>
      <!-- ko if: /^(\w+)-\1$/.test(relationship().entityTypes) -->
      <button type="button" class="styled-button change-direction" data-bind="click: changeDirection">
        [% l('Change direction') %]
      </button>
      <!-- /ko -->
      (<a href="#" data-bind="click: toggleLinkTypeHelp">[% l('help') %]</a>)
      <div class="error" data-bind="text: linkTypeError()"></div>
      <!-- ko with: linkTypeDescription() -->
        <div class="ar-descr" data-bind="html: $data, visible: $parent.showLinkTypeHelp()"></div>
      <!-- /ko -->
    </td>
  </tr>
</script>

<script type="text/html" id="template.dialog-date">
  <tr>
    <td class="section" data-bind="text: label"></td>
    <td class="partial-date">
      <input type="text" data-bind="value: date.year, valueUpdate: 'afterkeydown'" maxlength="4" placeholder="[% l('YYYY') %]" size="4" />-<!--
      --><input type="text" data-bind="value: date.month, valueUpdate: 'afterkeydown'" maxlength="2" placeholder="[% l('MM') %]" size="2" />-<!--
      --><input type="text" data-bind="value: date.day, valueUpdate: 'afterkeydown'" maxlength="2" placeholder="[% l('DD') %]" size="2" />
      <div class="error" data-bind="text: $parent.dateError(date)"></div>
    </td>
  </tr>
</script>

<script type="text/html" id="template.dialog-attributes">
  <!-- ko ifnot: _.isEmpty(relationship().linkTypeAttributes()) -->
  <tr>
    <td class="section">
      [% l('Attributes:') %]<br />
      (<a href="#" data-bind="click: toggleAttributesHelp">[% l('help') %]</a>)
    </td>
    <td data-bind="foreach: relationship().linkTypeAttributes()">
      <!-- ko template: {
                name: "template.edit-attribute",
                data: _.assign({ relationship: $parent.relationship() }, $data)
              }
        --><!-- /ko -->
    </td>
  </tr>
  <!-- /ko -->
  <!-- ko if: relationship().hasDates() -->
    <!-- ko template: {
              name: "template.dialog-date",
              data: { label: "[% l('Begin date:') | html | js %]", date: relationship().period.beginDate }
            } --><!-- /ko -->
    <!-- ko template: {
              name: "template.dialog-date",
              data: { label: "[% l('End date:') | html | js %]", date: relationship().period.endDate }
            } --><!-- /ko -->
    <!-- ko with: datePeriodError() -->
    <tr>
      <td></td>
      <td class="error" data-bind="text: $data"></td>
    </tr>
    <!-- /ko -->
    <tr>
      <td colspan="2">
        <label>
          <input type="checkbox" data-bind="checked: relationship().period.ended" />
          [% l('This relationship has ended.') %]
        </label>
      </td>
    </tr>
  <!-- /ko -->
</script>

<script type="text/html" id="template.extra-attributes-and-dates">
  <!-- ko if: relationship.hasDates() -->
    <!-- ko with: relationship.formatDatePeriod() -->
      (<!-- ko text: $data --><!-- /ko -->)
    <!-- /ko -->
    <!-- ko if: relationship.period.ended() && !relationship.formatDatePeriod() -->
      ([% l('ended') %])
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko with: relationship.phraseAndExtraAttributes()[2] -->
    (<!-- ko text: $data --><!-- /ko -->)
  <!-- /ko -->
</script>

<script type="text/html" id="template.edit-attribute">
  <div class="attribute-container">
    <!-- ko ifnot: attribute.children || attribute.freeText -->
    <label>
      <input type="checkbox" data-bind="checked: relationship.attributes, checkedValue: relationship.getAttribute(attribute.gid)" />
      <!-- ko text: attribute.l_name --><!-- /ko -->
    </label>
    <!-- /ko -->
    <!-- ko if: attribute.id == 14 -->
      <!-- ko text: MB.i18n.addColon(attribute.l_name) --><!-- /ko -->
      <div data-bind="instrumentSelect: relationship">
        <!-- ko foreach: instruments -->
          <div class="instrument-selection-credit">
            <span class="autocomplete">
              <input data-bind="autocomplete: { entity: 'instrument', currentSelection: $rawData }" />
              <img class="search" src="/static/images/icons/search.png" alt="[% l('Search') %]" />
            </span>
            <!-- ko with: $rawData.linkAttribute -->
              <input type="text" class="attribute-credit" placeholder="[% l('credited as') %]" data-bind="value: creditedAs" />
            <!-- /ko -->
            <!-- ko if: $parent.instruments().length > 1 -->
              <button type="button" class="icon remove-item" data-bind="click: _.partial($parent.removeItem, $rawData)"></button>
            <!-- /ko -->
          </div>
        <!-- /ko -->
        <button type="button" class="styled-button" style="padding: 3px;" data-bind="click: addItem">
          [% l('Add another instrument') | html %]
        </button>
      </div>
    <!-- /ko -->
    <!-- ko if: attribute.children && max !== 1 && attribute.id != 14 -->
      <!-- ko text: MB.i18n.addColon(attribute.l_name) --><!-- /ko -->
      <div class="multiselect" data-bind="
              component: {
                name: 'multiselect',
                params: {
                  options: MB.forms.buildOptionsTree(attribute, 'l_name', 'gid'),
                  placeholder: attribute.id == 14 ? '[% l('Click here to choose an instrument') | js %]' :
                               attribute.id == 3  ? '[% l('Click here to choose a vocal') | js %]' : '',
                  relationship: relationship,
                  attribute: attribute
                }
              }"></div>
    <!-- /ko -->
    <!-- ko if: attribute.freeText -->
    <label>
      <!-- ko text: MB.i18n.addColon(attribute.l_name) --><!-- /ko -->
      <input type="text" data-bind="textAttribute: { relationship: relationship, typeGID: attribute.gid }
                                    attr: { placeholder: attribute.l_name }" />
    </label>
    <!-- /ko -->
    <div class="error" data-bind="text: relationship.attributeError($data)"></div>
    <!-- ko if: $parents[1].showAttributesHelp -->
      <div class="ar-descr" data-bind="html: attribute.description"></div>
    <!-- /ko -->
  </div>
</script>

<script type="text/html" id="template.multiselect">
  <div class="items" data-bind="foreach: selectedAttributes">
    <div>
      <a href="#" data-bind="html: '&#215; ' + _.escape(type.l_name)"></a>
      <!-- ko if: type.creditable -->
        <input type="text" class="attribute-credit" placeholder="[% l('credited as') %]" data-bind="value: creditedAs" />
      <!-- /ko -->
    </div>
  </div>
  <input class="multiselect-input" type="text" data-bind="value: term, valueUpdate: 'afterkeydown', attr: { placeholder: placeholder }, hasFocus: inputHasFocus" />
  <div class="menu" data-bind="visible: menuVisibleWithOptions()"></div>
</script>
